@import "tailwindcss";

/* Oculta la barra de desplazamiento, pero permite el scroll */
body::-webkit-scrollbar {
    display: none;
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
}
